* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.carousel-cell {
  width: 100%;
  min-height: 250px;
  height: 50vh;
  background-position: center 40%;
}
.flickity-page-dots {
  display: none;
}

.btn {
  background-color: transparent;
  width: 140px;
  height: 50px;
}

.btn-restart {
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 20px;
  border: 6px solid #27ae60;
  transition: border-color 0.7s ease-in-out, background-color 0.7s ease-in-out;
  cursor: pointer;
  &:hover {
    border-color: #2ecc71;
    background-color: rgba(255,255,255,0.3);  
  }
}
.progress-bar {
  height: 10px;
  width: 0;
  background: #333;
}