* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  max-height: 100vh;
}

#map {
  margin: 0 auto;
  width: 100%;
  height: calc(50vh - 10px);
  background-color: grey;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.carousel-cell {
  background-size: cover;
  width: 100%;
  min-height: 250px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px #333;
}

.btn {
  width: 140px;
  height: 50px;
}

.btn-restart {
  color: #333;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 20px;
  border: 6px solid #27ae60;
  transition: border-color 0.7s ease-in-out, background-color 0.7s ease-in-out;
  cursor: pointer;
  &:hover {
    border-color: #2ecc71;
    background-color: rgba(255, 255, 255, 1);
  }
}

.progress-bar {
  height: 10px;
  width: 0;
  background-color: #333;
}